.grid{
    display: grid;  
    width: 400px;
    height: 70px;
    grid-template-columns: 50px auto 75px ;
}
.item-1,.item-3{
    background-color: rgb(134, 212, 205);
}
.item-2{
    background-color: rgb(215, 125, 125);
}
