*{
    margin: 0;
    padding: 0;
}
input{
    display: block;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;   
}
div + input {
    margin-right: 10px;
}

div input{
    display: inline;
}

button{
    background-color: royalblue;
    width: 510px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

form{
    margin: 50px;
}