button{
    width: 200px;
    height: 50px;
    background-color: rgb(10,102,194);
    border: none;
    color: white;
    border-radius: 10px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
img{
    object-fit: cover;
    width:300px;
    height: 350px;
}
div{
    width:300px;
    margin: 50px;
    border: 2px solid black;
    padding: 20px;
}
