body{
    height: 3000px;
    width: 100%;
}

div{
    background-color: black;
    color:white;
    display: inline-block;
    margin-right: 70px;
    margin-bottom: 70px;
    margin-left: 1600px;
    margin-top: 900px;
    position: fixed;
}